.footer {
  background: black;
  width: 100%;
  text-align: center;
  padding: 4rem;
  color: $color-secondary;

  &__logo {

  }

  &__list {
    list-style: none;
margin-bottom: 3rem;

    &__item {
      font-family: $headings;
      font-style: italic;
      font-size: 4rem;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }
  }

  &__social {
    list-style: none;
    display: flex;
    flex-flow: row;

    &__item {
      margin: 0 ;
    }
  }
}
