.hero {
  margin: 12.5rem 0;
  text-align: center;
  
  &__title {
    font-size: 4rem;
    font-family: $headings;
font-style: italic;

  }

  &__text {
    font-style: 1.875rem;
    text-transform: uppercase;
  }

  &__image {

  }
}
