.hero {
  text-align: center;
  margin: 6.2rem 2rem;

  @include break($medium) {
    margin: 12.5rem 0;
   
  }

  &__title {
    font-size: 4rem;
    font-family: $headings;
    font-style: italic;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.875rem;
    text-transform: uppercase;
    max-width: 1250px;
    margin: 0 auto 6.5rem;
    display: block;

    @include break($medium) {
     font-size: 1.2rem;
    }
  }

  &__image {
    width: 300px;
    height: auto;
  }
}
