

.navigation {
  position: absolute;
  z-index: 999;
  color: $color-secondary;
  display: grid;
  padding: 4.5rem 2rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-items: center;
  width: 100%;
  
  @include break($large) {
    grid-template-columns: 200px 1fr 80px 100px 50px;
   
  }

  &__logo {
    img {
      width: 400px;
      margin: 0 auto;
      display: block;

      
    }
  }

  &__toggle {
    display: block;
    border-radius: 5px;
    background-color: transparent;
    float: right;
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding: 8px 8px;

    &.open span:first-child {
      transform: rotate(45deg) translate(4.4px, 4.4px);
    }

    &.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    &.open span:last-child {
      transform: rotate(-45deg) translate(4.4px, -4.4px);
    }

    span {
      position: relative;
      display: block;
      height: 2px;
      width: 100%;
      margin-top: 4px;
      background-color: $color-secondary;
      transition: all 0.25s;
    }
  }
}
