.products {
  display: grid;
  grid-gap: 1em;
  position: relative;
  padding: 1em;

  @include break(420px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
  }

  .product {

    padding: 1em;
    margin: 1em auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba($color-primary, 0);
    transition: all 300ms ease-in;
border: 1px solid red;

    &__image {
      padding: 20px 0;
      transition: all 800ms ease-in;
      width: 100%;
      height: auto;
    }

&__title {
font-size: 1.75rem;
font-family: $headings;
}

&__subtitle {
  font-size: 1.125rem;
}
 


  }
}

