.info {
  max-width: 1600px;
  margin: 0 auto;

  &__left {
    display: grid;
    grid-template-columns: minmax(150px, 620px) 1fr;
    border: 1px solid red;
    align-items: center;

    &__image {
      width: 620px;
      height: 640px;
      background: url(../images/woman.jpg) no-repeat center;
      background-size: cover;
    }

    &__title {
      font-size: 2rem;
      font-family: $headings;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 1.2rem;
    }

    section {
      padding: 4rem;
    }
  }

  &__right {
    &__title {
      font-size: 2rem;
      font-family: $headings;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 1.2rem;
    }

    section {
      padding: 4rem;
    }
  }
}
