.product__detail {
  width: 100%;
  max-width: 1600px;
  margin: 6.2rem auto;

  @include break(600px) {
    margin: 12.5rem auto;
    display: flex;
  }

  &__left {
    min-width: 300px;
    display: block;
    margin: 0 auto;

    @include break(600px) {
      display: flex;
      flex-flow: column;
    }

    &__image {
      width: 100%;
    }
  }

  &__right {
    min-width: 300px;
    margin: 0 auto;
    padding: 0 2rem;

    @include break(600px) {
      width: 100%;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 1.25;
      margin-bottom: 2.4rem;
    }

    &__subtitle {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      font-weight: 300;
      word-break: break-word;
    }

    &__text {
      font-size: 1rem;
      letter-spacing: 2px;
      line-height: 1.6;
      margin-bottom: 1.5rem;
    }

    &__prize {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.25;
      margin-bottom: 1.5rem;
    }

    &__availability {
      margin-bottom: 1.5rem;
    }

    &__colors {
      div {
        padding: 5px;
        border: 1px solid black;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: inline-block;
        margin-right: 5px;

        span {
          width: 26px;
          height: 26px;
          display: flex;
          border-radius: 100%;
          margin-left: -4px;
          margin-top: -4px;
        }
      }
    }
  }
}

.green {
  color: rgb(41, 151, 60);
  font-weight: 700;
}

.red {
  color: rgb(255, 0, 0);
  font-weight: 700;
}

.button {
  border: 1px solid #000;
  width: 150px;
  display: block;
  margin-left: 2rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
}
