.info {
  width: 100%;
  max-width: 1600px;
  margin: 6.2rem auto;

  @include break($medium) {
   margin: 10rem auto;
  }

  &__left,
  &__right {
    align-items: center;

    @include break($medium) {
      margin-bottom: 2rem;
      display: flex;
      flex-flow: row;
    }

    &__title {
      font-size: 1.4rem;
      font-family: $headings;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 1rem;

      @include break($medium) {
        font-size: 2rem;
      }
    }

    &__text {
      font-size: 1.2rem;
    }

    section {
      padding: 2rem;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;

      @include break($medium) {
        padding: 4rem;
        text-align: left;
      }
    }
  }

  &__left__image {
    background: url(../images/woman.jpg) no-repeat center;
    width: 300px;
    height: 310px;
    background-size: cover;
    margin: 0 auto;

    @include break($medium) {
      width: 400px;
      height: 410px;
      _margin: 0;
    }

    @include break($xlarge) {
      width: 620px;
      height: 640px;
    }
  }

  &__right {
    flex-flow: row-reverse;

    &__image {
      background: url(../images/man.jpg) no-repeat center;
      width: 300px;
      height: 310px;
      background-size: cover;
      margin: 0 auto;

      @include break($medium) {
        width: 400px;
        height: 410px;
      }

      @include break($xlarge) {
        width: 620px;
        height: 640px;
      }
    }
  }
}
